@charset "utf-8";
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

 
html{

body{
    font-family: 'Noto Sans JP', sans-serif;


}
}

.item-info-content{
    max-width: 869px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 79px 0px 56px 0px;
    margin-top: 52px;

    @include sp{
        padding: 49px 0px 49px 0px;

    }

    &-wrapper{
        max-width: 733px;
        width: 100%;
        margin: 0 auto;
    


    .item-info-sub-title{
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 0px;

        @include sp{
            font-size: 14px;
        }

        .sp_br{
            display: none;
            @include sp{
                display: block;
            }
        }
    }

    .item-top-title{
        text-align: center;

        @include sp{
            margin-top: 6px;
        }


    .item-info-main-title{
        color: #FFFFFF;
        font-size: 40px;
        background-color: #222222;
        font-weight: 500;
        text-align: center;
        padding: 3px 0px;
        letter-spacing: 1.2px;
        margin-top: 13px;

        @include tab{
            font-size: 35px;
        }


        @include sp{
            display: inline;
            line-height: 65px;
        }

        .black-title{
            font-weight: 900;
        }/*span*/

        .sp_br{
            display: none;

            @include sp{
                display: block;
            }

        }
    }/*item-info-main-title*/
}/*item-top-title*/

    .circle-block{
        display: flex;
        margin-top: 31px;

        @include tab{
            display: block;
        }

        .left-box{
            display: flex;

            @include tab{
                justify-content: center;
                margin-bottom: 15px;
            }
    

            .circle1{
                background-image: url(../img/circle1.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 175px;
                height: 175px;
                position: relative;
                margin-right: 5px;

                @include sp{
                    width: 141px;
                    height: 141px;
                }

                p{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 175px;/*上のwidthと合わせる*/
                    text-align: center;
                    -webkit-transform : translateY(-50%);
                    transform : translateY(-50%); 
                    font-size: 20px;     
                    color: white;             
                    font-weight: bold;   
                    margin: 0;   
                    
                    @include sp{
                        width: 141px;
                        font-size: 14px;     
                    }

                    .circle-sub-text{
                        font-size: 7px;
                    }
    
                }
            }/*circle1*/

            .circle2{
                background-image: url(../img/circle2.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 175px;
                height: 175px;
                position: relative;
                margin-left: 5px;
                @include sp{
                    width: 141px;
                    height: 141px;
                }


                p{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 175px;/*上のwidthと合わせる*/
                    text-align: center;
                    -webkit-transform : translateY(-50%);
                    transform : translateY(-50%);
                    font-size: 29px;     
                    color: white;  
                    font-weight: bold;  
                    margin: 0;    
                    @include sp{
                        width: 141px;
                        font-size: 24px;     
                    }     
                    
                    .circle-sub-text{
                        font-size: 7px;
                    }
                }
            }/*circle1*/

        }/*left-box*/

        .right-box{
            margin-left: 20px;

            .right-box-circle-block{
                display: flex;

                @include tab{
                    justify-content: center;
                    margin-bottom: 15px;
                }
        

            .circle3{
                background-image: url(../img/circle3.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 106px;
                height: 106px;
                position: relative;
                margin-right: 5px;
                margin-left: 5px;

                @include sp{
                    width: 91px;
                    height: 91px;
                }

                p{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 106px;/*上のwidthと合わせる*/
                    text-align: center;
                    -webkit-transform : translateY(-50%);
                    transform : translateY(-50%);
                    font-size:15px;     
                    color: white;  
                    font-weight: bold;  
                    margin: 0;  
                    @include sp{
                        width: 91px;
                        font-size:13px;     
                    }                                                                
                }
            }/*circle1*/

            .circle4{
                background-image: url(../img/circle4.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 106px;
                height: 106px;
                position: relative;
                margin-right: 5px;
                margin-left: 5px;
                @include sp{
                    width: 91px;
                    height: 91px;
                }

                p{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 106px;/*上のwidthと合わせる*/
                    text-align: center;
                    -webkit-transform : translateY(-50%);
                    transform : translateY(-50%);
                    font-size:15px;     
                    color: white;  
                    font-weight: bold;  
                    margin: 0;  
                    @include sp{
                        width: 91px;
                        font-size:13px;     
                    }                                                                
                }
            }/*circle1*/

            .circle5{
                background-image: url(../img/circle5.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 106px;
                height: 106px;
                position: relative;
                margin-right: 5px;
                margin-left: 5px;
                @include sp{
                    width: 91px;
                    height: 91px;
                }

                p{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 106px;/*上のwidthと合わせる*/
                    text-align: center;
                    -webkit-transform : translateY(-50%);
                    transform : translateY(-50%);
                    font-size:15px;     
                    color: white;  
                    font-weight: bold;  
                    margin: 0;    
                    @include sp{
                        width: 91px;
                        font-size:13px;     
                    }                                                              
                }
            }/*circle1*/
        }/*right-box-circle-block*/

        .btn-bottom{
            padding: 15px 0px;
            background-color: #7B7A74;
            font-size: 16px;
            font-weight: bold;
            max-width: 342px;
            width: 100%;
            border-radius: 33px;
            text-align: center;
            color: #FFFFFF;
            display: inline-block;
            position: relative;

            @include tab{
                margin: 0 auto;
                display: block;
            }

        @include sp{
            max-width: 293px;
            font-size: 15px;
        }

        }/*.btn-bottom*/

        .btn-bottom:before, .btn-bottom:after {
            display: block;
            content: '';
            background-color: #ffffff;
            position: absolute;
            width: 18px;
            height: 5px;
            top: 24px;
            left: 48px;
            @include sp{
                left: 38px;
            }
          }

          .btn-bottom:before {
            width: 5px;
            height: 18px;
            top: 17.5px;
            left: 54px;
            @include sp{
                left: 44px;
            }
          }

        
        }/*roght-box*/
    }/*circle-block*/


    .item-block{
        display: flex;
        justify-content: space-between;
        margin-top: 23px;
        margin-bottom: 50px;

        @include tab{
            display: block;
            text-align: center;
            margin-bottom: 63px;
        }

        .sp_banner{
            display: none;
            @include tab{
                display: block;
                margin-bottom: 24px;
            }
            @include sp{
                margin-bottom: 12px;
            }

            .item-block-banner{
                @include sp{
                    width: 292px;
                    height: 34px;
                }
            }


        }

        .protein_pic{
            width: 223px;
            height: 255px;

            @include sp{
                width: 194px;
                height: 222px;
                margin-top: 0px;
            }
        }/*img*/

    
    .btn-part{

        .item-block-banner{
            margin: 0;
            margin-top: 40px;
            
            @include tab{
                display: none;
            }
        }

        .taste-text{
            text-align: center;
            font-size: 15px;
            font-weight: 900;
            color: #707070;
            margin-bottom: 20px;
            margin-top: 18px;

            @include tab{
                margin-bottom: 32px;
            }

            @include tab{
                margin-top: 0px;
                font-size: 14px;
            }
        }/*taste-text*/

        .info-button-block{
            display: flex;
            justify-content: space-between;

            @include tab{
                display: block;
            }
    

            .item-btn1{
                font-size: 16px;
                background-color: #329071;
                border-radius: 4px;
                max-width: 217px;
                width: 100%;
                margin: 0;
                height: 63px;

                @include tab{
                    margin: 0 auto;
                    margin-bottom: 20px;
                    max-width: 400px;
                }

            @include sp{
                max-width: 291px;
            }


                a{
                    display: block;
                    font-weight: bold;
                    color: #FFFFFF;
                    padding: 19px 0px 20px 0px;
                    text-align: center;
                    text-decoration: none;
                }
            }/*item-btn*/


            .item-btn1:hover{
                opacity: 0.8;
                transition: .2s;
            }


            .item-btn2{
                max-width: 217px;
                width: 100%;
                margin: 0;
                cursor: pointer;

                @include tab{
                    margin: 0 auto;
                    margin-bottom: 20px;
                    max-width: 400px;
                }

            @include sp{
                max-width: 291px;
            }


                .item-title{
                    font-size: 16px;
                    padding: 19px 0px 17px 0px;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 4px;
                    background-color: #E68511;
                    color: white;
                    margin-bottom: 15px;


                    img{
                        width: 31px;
                        height: 25px;
                        vertical-align: middle;
                    }/*img*/

                }

                .sub-menu{
                    border: 7px solid #FFDBB1;
                    border-radius: 4px;
                    position: absolute;
                    max-width: 217px;
                    width: 100%;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    display:none;

                    ul{
                        width: 100%;
                        padding-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        
                        li{
                            list-style: none;
                            border-bottom: 1px solid #DEDEDE;
                            text-align: center;
                            padding: 10px 0px 11px 0px;

                            img{
                                width: 150px;
                                height: auto;
                            }

                        }

                        li:last-child{
                            border-bottom: none;
                        }

                        li:hover{
                            opacity: 0.7;
                            transition: 0.3s;
                        }


                    }/*ul*/
                }/*sub-menu*/

                .sub-menu:before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    margin-left: -15px;
                    border: 15px solid transparent;
                    border-bottom: 15px solid #FFDBB1;
                  
                }

            }/*item-btn*/


            .item-btn2:hover{
                .sub-menu{
                    display: inline-block;
                }
            }



        }/*info-button-block*/
    }/*btn-part*/

}/*item-block*/

.item-block:last-child{
    @include sp{
        margin-bottom: 0px;

    }
}

.note-text{
    text-align: center;
    margin-bottom: 37px;
    margin-top: 24px;
    font-size: 13px;
    color: #222222;

    @include sp{
        font-size: 11px;
        width: 300px;
        text-align: left;
        margin: 0 auto;    
        margin-top: 14px;
        margin-bottom: 18px;
    }


    .sp_br{
        display: none;        
        @include sp{
            display: block;
        }

    }

}


.circle-block-second{
    display: flex;
    align-items: center;
    margin-top: 31px;

    @include tab{
        display: block;
    }

    .left-box{
        display: flex;

        @include tab{
            justify-content: center;
        }

        @include sp{
            margin-bottom: 10px;
        }

        .circle1{
            background-image: url(../img/circle1.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 175px;
            height: 175px;
            position: relative;
            margin-right: 5px;

            @include sp{
                width: 141px;
                height: 141px;
            }

            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 175px;/*上のwidthと合わせる*/
                text-align: center;
                -webkit-transform : translateY(-50%);
                transform : translateY(-50%); 
                font-size: 20px;     
                color: white;             
                font-weight: bold;   
                margin: 0; 

                @include sp{
                    width: 141px;
                    font-size: 17px;
                }

                .circle-sub-text{
                    font-size: 7px;
                }
            }
        }/*circle1*/

        .circle2{
            background-image: url(../img/circle2.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 175px;
            height: 175px;
            position: relative;
            margin-left: 5px;


            @include sp{
                width: 141px;
                height: 141px;
            }



            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 175px;/*上のwidthと合わせる*/
                text-align: center;
                -webkit-transform : translateY(-50%);
                transform : translateY(-50%);
                font-size: 29px;     
                color: white;  
                font-weight: bold;  
                margin: 0;   
                
                
            @include sp{
                width: 141px;
                font-size: 24px;
            }

            .circle-sub-text{
                font-size: 7px;
            }

            }
        }/*circle1*/

    }/*left-box*/

    .right-box{
        margin-left: 20px;
        

        .right-box-circle-block{
            display: flex;

            @include tab{
                justify-content: center;
            }

        .circle3{
            background-image: url(../img/circle3.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 106px;
            height: 106px;
            position: relative;
            margin-right: 5px;
            margin-left: 5px;

            @include sp{
                width:91px;
                height: 91px;
            }

            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 106px;/*上のwidthと合わせる*/
                text-align: center;
                -webkit-transform : translateY(-50%);
                transform : translateY(-50%);
                font-size:15px;     
                color: white;  
                font-weight: bold;  
                margin: 0;  
                
                @include sp{
                    width: 91px;
                    font-size: 13px;
                }
            }
        }/*circle1*/

        .circle4{
            background-image: url(../img/circle4.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 106px;
            height: 106px;
            position: relative;
            margin-right: 5px;
            margin-left: 5px;
            @include sp{
                width:91px;
                height: 91px;
            }


            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 106px;/*上のwidthと合わせる*/
                text-align: center;
                -webkit-transform : translateY(-50%);
                transform : translateY(-50%);
                font-size:15px;     
                color: white;  
                font-weight: bold;  
                margin: 0;    
                @include sp{
                    width: 91px;
                    font-size:13px;     
                }
                                                                  
            }
        }/*circle1*/

        .circle5{
            background-image: url(../img/circle5.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 106px;
            height: 106px;
            position: relative;
            margin-right: 5px;
            margin-left: 5px;

            @include sp{
                width:91px;
                height: 91px;
            }

            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 106px;/*上のwidthと合わせる*/
                text-align: center;
                -webkit-transform : translateY(-50%);
                transform : translateY(-50%);
                font-size:15px;     
                color: white;  
                font-weight: bold;  
                margin: 0;      
                @include sp{
                    width: 91px;
                    font-size: 13px;
                }                                                            
            }
        }/*circle1*/
    }/*right-box-circle-block*/


    }/*roght-box*/
}/*circle-block*/




}/*wrraper*/
}/*content*/

